#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
* {
	box-sizing: border-box;
}
div.producto {
	display: grid;
	column-gap: 2%;
	row-gap: 1%;
	ul > li > *p {
		text-align: start;
	}
}
