body {
	margin: 0%;
	padding-top: 10px;
	background-color: yellow;
	font-family: ubuntu, Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
}

.pokemon-todos {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 177px));
	row-gap: 40px;
	column-gap: 3%;
	background-color: yellow;
}

.pokemon {
	background-color: white;
	border: solid 1px rgba(148, 148, 148, 0.603);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	.caja_sup {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background-color: rgb(211, 207, 207);
		.id {
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: rgb(139, 138, 138);
			font-size: 0.5em;
			padding: 4px;
			color: rgb(169, 92, 3);
		}
	}
	.caja_inf {
		padding: 8% 4% 10% 9%;
		width: 150px;
		font-size: 18px;
		.evolucion {
			border-left: 2px solid rgb(214, 113, 41);
			color: rgb(225, 120, 29);
			padding-left: 4%;
			width: 100%;
			font-size: 15px;
			span {
				color: black;
				font-size: 1rem;
			}
		}
		ul {
			display: flex;
			padding: 0px;
			margin: 0px;
			margin-bottom: 18%;
			border: 2px;
			gap: 2%;
			text-transform: uppercase;
			li {
				border: solid 1px gray;
				border-radius: 10%;
				font-size: 0.5em;
				padding: 1%;
			}
		}
	}
}
.caja_inf > h3 {
	border: solid;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 1em;
	text-transform: capitalize;
}
.buscador {
	display: flex;
	justify-content: center;
	padding: 5%;
	#buscar {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		text-align: center;
	}
	#buscar {
		width: 600px;
	}
}
@media (width<=715px) {
	.pokemon-todos {
		padding: 0% 15%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		row-gap: 1.5em;
		.pokemon {
			min-width: 30%;
			row-gap: 1.5em;
			.caja_inf {
				min-width: 30%;
			}
			.caja_sup {
				min-width: 30%;
			}
		}
	}
	.oreja_iz {
		z-index: -1;
		background-color: rgb(0, 0, 0);
		height: 100px;
		width: 100px;
		rotate: 45deg;
		position: fixed;
		left: -60px;
		top: -60px;
	}
	.oreja_de {
		z-index: -1;
		background-color: rgb(0, 0, 0);
		height: 100px;
		width: 100px;
		rotate: 45deg;
		position: fixed;
		right: -60px;
		top: -60px;
	}
	.mof_iz {
		z-index: -1;
		position: fixed;
		background: rgb(209, 6, 6);
		border-radius: 50%;
		width: 100px;
		height: 100px;
		bottom: 0;
		left: 0;
		transform: translate(-50%, 50%);
	}
	.mof_de {
		position: fixed;
		z-index: -1;
		background: rgb(209, 6, 6);
		border-radius: 50%;
		width: 100px;
		height: 100px;
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
	}
}
.oreja_iz {
	z-index: -1;
	background-color: rgb(0, 0, 0);
	height: 100px;
	width: 100px;
	rotate: 45deg;
	position: fixed;
	left: -60px;
	top: -60px;
}
.oreja_de {
	z-index: -1;
	background-color: rgb(0, 0, 0);
	height: 100px;
	width: 100px;
	rotate: 45deg;
	position: fixed;
	right: -60px;
	top: -60px;
}
.mof_iz {
	z-index: -1;
	position: fixed;
	background: rgb(209, 6, 6);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	bottom: 0;
	left: 0;
	transform: translate(-50%, 50%);
}
.mof_de {
	position: fixed;
	z-index: -1;
	background: rgb(209, 6, 6);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
}
